h1 {
  font-family: Impact, Arial;
}

p {
  font-family: Impact, Arial;
}

.navbar {
  background-color: #aa141c;
  display: grid;
  grid-column: 1/13;
  height: 2rem;
  width: 100%;
  padding: 1rem 0;
}
.navbar .action-wrapper {
  grid-column: 11/13;
}
.navbar .action-icon {
  cursor: pointer;
}
.navbar .nav-search {
  grid-column: 2;
}
.navbar .manage-modal {
  grid-column: 6/8;
  background-color: #aa141c;
}
.navbar .manage-modal p {
  color: #ffffff;
}
.navbar .menu-button {
  background: none;
  border: none;
  margin-left: 2rem;
}
.navbar .page-title {
  color: #ffffff;
  grid-column: 6/8;
  margin: 0;
  text-align: center;
}

body {
  background-color: #e6e6e4;
  margin: 0;
}
body .page-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.3125rem;
}

/*# sourceMappingURL=index.css.map */
