// Colours
$brand-primary: #aa141c;
$brand-text-primary: #ffffff;
$page-background: #e6e6e4;

// Typography
$typography-fonts: Impact, Arial;

h1 {
    font-family: $typography-fonts;
}

p {
    font-family: $typography-fonts;
}