.navbar{
    background-color: $brand-primary;
    display: grid;
    grid-column: 1 / 13;
    height: 2rem;
    width: 100%;
    padding: 1rem 0;

    .action-wrapper {
        grid-column: 11 / 13;
    }

    .action-icon {
        cursor: pointer;
    }

    .nav-search {
        grid-column: 2;
    }

    .manage-modal {
        grid-column: 6 / 8;
        background-color: $brand-primary;

        p {
            color: $brand-text-primary;
        }
    }

    .menu-button {
        background: none;
        border: none;
        margin-left: 2rem;
    }

    .page-title {
        color: $brand-text-primary;
        grid-column: 6 / 8;
        margin: 0;
        text-align: center;
    }
}