// Global Settings
@import "global";

// Components
@import "navbar";

body {
    background-color: $page-background;
    margin: 0;

    .page-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0.3125rem;
    }
}